@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  background-color: #252954; }
  html ::-webkit-scrollbar,
  body ::-webkit-scrollbar {
    width: 5px; }
  html ::-webkit-scrollbar-track,
  body ::-webkit-scrollbar-track {
    background: #18191f; }
  html ::-webkit-scrollbar-thumb,
  body ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; }
  html ::-webkit-scrollbar-thumb:hover,
  body ::-webkit-scrollbar-thumb:hover {
    background: #555; }

.landingpage {
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  overflow-y: hidden;
  max-height: auto;
  background-color: #18191f; }
  .landingpage::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 60%;
    top: 138px;
    filter: blur(90px);
    background-color: blue; }
  .landingpage::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 123px;
    left: 80%;
    top: 550px;
    background-color: purple;
    filter: blur(80px); }

/* navbar styling */
.navbar {
  border-bottom: 1px white solid;
  padding: 0 20px;
  width: 100%;
  z-index: 999;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease; }
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600; }
  .navbar span {
    background: linear-gradient(45deg, #9d81fc 33%, #bd89fc 66%, #a0b0fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease; }
  .navbar .menu li {
    list-style: none;
    display: inline-block; }
    .navbar .menu li a {
      display: block;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-left: 25px;
      transition: color 0.3s ease; }
      .navbar .menu li a:hover {
        color: crimson; }

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none; }

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%; }
  .box .infobox {
    animation-name: leftslide;
    animation-duration: 0.8s;
    padding-right: 30px;
    max-height: 500px;
    max-width: 60%;
    overflow: hidden;
    @import url("https://fonts.cdnfonts.com/css/montserrat"); }
    .box .infobox-boldtext {
      background: linear-gradient(45deg, #9d81fc 33%, #bd89fc 66%, #a0b0fd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 90px;
      line-height: 121%;
      letter-spacing: 0.03em;
      color: #FFFFFF; }
      .box .infobox-boldtext span {
        background: linear-gradient(45deg, #9d81fc 33%, #bd89fc 66%, #a0b0fd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  .box .display {
    animation-name: rightslide;
    animation-duration: 0.8s;
    overflow: hidden;
    max-height: 550px;
    max-width: 40%;
    border-radius: 50%; }
    .box .display-nft {
      object-fit: cover;
      flex-shrink: 0;
      width: 400px;
      height: 400px;
      border-radius: 50%; }

:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s; }

.marquee {
  margin-top: 50px;
  display: flex;
  overflow: hidden; }

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x 40s linear infinite; }

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused; } }
@keyframes scroll-x {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(calc(-100% - var(--gap))); } }
/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: white;
  aspect-ratio: 16/9;
  padding: calc(var(--size) / 10); }

.auction {
  margin-top: 30px; }
  .auction .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px; }
    .auction .title .titlebold {
      margin: 0;
      font-family: 'Poppins';
      font-style: normal;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 48px;
      line-height: 72px; }
  .auction .nft {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between; }
  .auction .card {
    width: 250px;
    height: 400px;
    border-radius: 25px;
    border: 1px solid;
    background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
    padding: 20px;
    box-sizing: border-box;
    position: relative; }
  .auction .card-img {
    height: 55%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s; }
    .auction .card-img:hover {
      transform: scale(1.05); }
  .auction .card-img img {
    width: 100%;
    height: 100%; }
  .auction .card-body {
    height: 27%;
    color: #8bacda;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2f415b; }
  .auction .card-body h4 {
    color: white;
    margin-bottom: 0;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400; }
  .auction .card-body p {
    font-weight: 300; }
  .auction .card-body h4:hover {
    color: #00fff7; }
  .auction .card-body-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px; }
  .auction .card-body-footer div {
    position: relative;
    padding-left: 18px; }
  .auction .card-body-footer div:nth-child(1) {
    color: #00fff7; }
  .auction .card-body-footer div:nth-child(2) {
    padding-left: 22px; }
  .auction .card-body-footer div::before,
  .auction .card-body-footer div::before {
    content: url(https://rvs-nft-preview-card.netlify.app/images/icon-ethereum.svg);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    line-height: 0px; }
  .auction .card-body-footer div:nth-child(2):before {
    content: url(https://rvs-nft-preview-card.netlify.app/images/icon-clock.svg); }
  .auction .card-footer {
    height: 12%;
    display: flex;
    align-items: center;
    column-gap: 15px; }
  .auction .card-footer img {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%; }
  .auction .card-footer p {
    font-size: 14px;
    color: #8bacda;
    font-weight: 300; }
  .auction .card-footer span {
    margin-left: 5px;
    color: white;
    cursor: pointer; }
  .auction .card-footer span:hover {
    color: #00fff7; }

:root {
  --scrollcolor: #fff;
  --scrollbackground: #141e27;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif; }

.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: #fff;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px; }

.slider {
  max-width: 100%;
  margin: 0; }

.slider__content {
  border-radius: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 10px;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground); }
  .slider__content::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    background: var(--scrollbackground); }
  .slider__content::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--scrollcolor); }
  .slider__content::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--scrollbackground); }

.slider__item {
  aspect-ratio: 2/3;
  min-width: calc((100% / 3) - 2rem);
  position: relative;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke; }
  .slider__item .slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; }
  .slider__item .slider__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1; }
    .slider__item .slider__info > * + * {
      margin-top: 1rem; }
    .slider__item .slider__info .btn {
      cursor: pointer;
      margin-top: 1.5rem;
      padding: 0.75rem 1.5rem;
      font-size: 0.65rem;
      font-weight: bold;
      letter-spacing: 0.025rem;
      text-transform: uppercase;
      color: white;
      background-color: black;
      border: none; }
      .slider__item .slider__info .btn:hover {
        background-color: #0d0d0d; }
      .slider__item .slider__info .btn:focus {
        outline: 1px dashed yellow;
        outline-offset: 3px; }
    .slider__item .slider__info .titles {
      line-height: 1.2;
      font-size: 20px;
      font-weight: bolder; }
    .slider__item .slider__info p {
      text-align: center;
      font-size: 20px; }

@media (hover: hover) and (min-width: 600px) {
  .slider__item:after {
    transform: translateY(0); }

  .slider__info {
    transform: translateY(calc(100% - 4.5rem)); }
    .slider__info > *:not(.titles) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e); }

  .slider__item:hover,
  .slider__item:focus-within {
    align-items: center; }
    .slider__item:hover:before,
    .slider__item:focus-within:before {
      transform: translateY(-4%); }
    .slider__item:hover:after,
    .slider__item:focus-within:after {
      transform: translateY(-50%); }
    .slider__item:hover .slider__info,
    .slider__item:focus-within .slider__info {
      transform: translateY(0); }
      .slider__item:hover .slider__info > *:not(.titles),
      .slider__item:focus-within .slider__info > *:not(.titles) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8); } }
.discover {
  display: flex;
  flex-direction: column; }
  .discover-title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .discover-title p {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      letter-spacing: -1px;
      color: #FFFFFF; }
  .discover .filters {
    display: flex;
    align-items: center; }
    .discover .filters .filterbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 30px;
      background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
      border: none;
      border-radius: 10px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #FFFFFF; }
      .discover .filters .filterbtn a {
        text-decoration: none;
        color: white;
        font-weight: bold; }

#discover-items {
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: space-between; }

.item {
  display: flex;
  flex-direction: column;
  justify-self: center; }
  .item-img {
    object-fit: cover;
    flex-shrink: 0;
    width: 200px;
    height: 220px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer; }
    .item-img:hover {
      transform: scale(1.05); }
  .item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF; }

h2 {
  color: white;
  font-weight: bolder;
  font-size: large; }

.accordion {
  padding-right: 0px;
  max-width: 100%;
  margin: auto;
  text-align: left; }
  .accordion li {
    border-bottom: 1px solid white;
    position: relative;
    list-style-type: none; }
    .accordion li p {
      font-size: 20px;
      font-weight: 300;
      display: none;
      padding: 10px 25px 30px;
      color: white; }
  .accordion a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    font-size: 20px;
    text-indent: 15px;
    user-select: none;
    color: white; }
    .accordion a p {
      font-size: 13px;
      line-height: 2;
      padding: 10px; }
  .accordion a.active:after {
    transform: rotate(45deg);
    transition: all, 0.2s, ease-in-out; }

@media (min-width: 800px) {
  /* FOOTER  */
  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 30px; }

  .footer-a:hover {
    text-decoration: underline; } }
.containeri {
  width: 90%;
  margin: 0 auto;
  padding: 0; }

/* FOOTER  */
.footer {
  font-family: 'Outfit', sans-serif;
  margin-top: 5em; }

.logo {
  font-size: 2.25rem;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: bold; }

.footer-col ul li {
  margin-bottom: 10px;
  list-style: none; }

.footer-a {
  color: white;
  font-weight: 200;
  text-decoration: none; }

.footer-col h4 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.25rem;
  color: white; }

.icons ul {
  display: flex; }

.icons li {
  margin-right: 1em; }

.icons a:hover {
  color: #9AD5D6; }

@media screen and (max-width: 1200px) {
  .landingpage {
    max-width: 100%; }

  .box {
    flex-direction: column; }
    .box .infobox {
      max-height: 450px;
      max-width: none;
      margin-bottom: 50px; }
    .box .display {
      display: block;
      max-height: none;
      max-width: none; }

  .auction .nft {
    grid-template-columns: auto auto auto auto;
    justify-content: space-around; }

  #discover-items {
    grid-template-columns: auto auto auto auto;
    justify-content: space-around; } }
@media screen and (max-width: 925px) {
  .landingpage {
    max-width: 100%; }

  .menu-btn {
    display: block;
    z-index: 999; }

  .menu-btn i.active:before {
    content: "\f00d"; }

  .navbar .menu {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    transform: translateY(-15px); }

  .navbar .menu.active {
    left: 0; }

  .navbar .menu li {
    display: block; }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px; }

  .popul {
    grid-template-columns: auto; }

  .auction .nft {
    grid-template-columns: auto auto;
    justify-content: space-around; }

  #discover-items {
    grid-template-columns: auto auto;
    justify-content: space-around; } }
@media screen and (max-width: 750px) {
  .discover-title {
    justify-content: center; }
    .discover-title .filters {
      display: none; }

  .auction .title {
    justify-content: center; }
    .auction .title .titleslim {
      display: none; } }
@media screen and (max-width: 630px) {
  .landingpage {
    max-width: 100%; }

  .box .infobox-boldtext {
    font-size: 45px;
    line-height: 50px; }
  .box .display-nft {
    width: 300px;
    height: 300px; }

  .auction .nft {
    grid-template-columns: auto;
    justify-content: space-around; }

  #discover-items {
    grid-template-columns: auto auto;
    justify-content: space-around; } }
@media screen and (max-width: 500px) {
  .landingpage .box .infobox-boldtext {
    font-size: 32px;
    line-height: 1.4em;
    text-align: center; }

  #discover-items {
    grid-template-columns: auto;
    justify-content: space-around; } }
@keyframes leftslide {
  from {
    transform: translateX(-700px); }
  to {
    transform: translateX(0px); } }
@keyframes rightslide {
  from {
    transform: translateX(550px); }
  to {
    transform: translateX(0px); } }
.scroll-up-btn {
  position: fixed;
  height: 40px;
  width: 40px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 10px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease; }

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto; }

.scroll-up-btn:hover {
  filter: brightness(70%); }

/*# sourceMappingURL=main.css.map */
