body {
    background-color: #18191f;
    color: white;
}

.cont {
    display: flex;
}

img {
    height: 80%;
}

h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}